:root {
  --text: #e4e3ea;
  --background: #07060c;
  --primary: #a29cd9;
  --secondary: #2a2084;
  --accent: #4432e4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  min-height: 100vh;
}

body {
  min-height: 100%;
  font-family: sans-serif;
  background-image: linear-gradient(to bottom, var(--secondary), var(--accent));
}

main {
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.area-card {
  width: 300px;
  height: 530px;
  border: 15px solid #000;
  border-top: 40px solid #000;
  border-radius: 10px;
  position: relative;
  background: linear-gradient(135deg, #141e30, #243b55);
  box-shadow:2px 2px 5px #00000081;
}

.btn-botoes-styles {
  height: 70px;
  background-color: #000;
  color: #f4f4f4;
  position: absolute;
  inset: auto 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.btn-botoes-styles .btn {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.btn-home {
  width: 20px;
  height: 20px;
  border: 2px solid #f4f4f4;
  border-radius: 50%;
}

.card-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.card-avatar img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #58c322;
  object-fit: cover;
  padding: 2px;
}

.card-links {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.card-links .link {
  display: block;
  background: linear-gradient(135deg, #304b68, #3d5a78);
  color: #f4f4f4;
  border: 1px solid #6b849d;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  padding: 10px;
  border-radius: 10px;
  min-width: 80%;
  margin-top: 15px;
  cursor: pointer;
  text-decoration: none;
}

.link.instagram:hover {
  background: linear-gradient(135deg, #833ab4, #fd1d1d, #fcaf45);
}

.link.youtube:hover {
  background: linear-gradient(135deg, #ff0000, #ff4b4b);
}

.link.portfolio:hover {
  background: linear-gradient(135deg, #00f5ff, #7b2fff, #ff00c8);
}


